
/__pycache__
/bert_embeddings
/fast_text_embeddings
nature_remo.json_xiaomi_mijia_led.json_irobot_roomba.json_planex_smacam_pantilt.json_jvc_kenwood_hdtv_ip_camera.json_fasttext_model
nature_remo.json_xiaomi_mijia_led.json_irobot_roomba.json_planex_smacam_pantilt.json_jvc_kenwood_hdtv_ip_camera.json_fasttext_model.wv.vectors_ngrams.npy
bert_embeddings_768/irobot_roomba.json_seen_bert_embeddings.txt
bert_embeddings_768/irobot_roomba.json_unseen_bert_embeddings.txt
bert_embeddings_768/jvc_kenwood_hdtv_ip_camera.json_seen_bert_embeddings.txt
bert_embeddings_768/jvc_kenwood_hdtv_ip_camera.json_unseen_bert_embeddings.txt
bert_embeddings_768/nature_remo.json_seen_bert_embeddings.txt
bert_embeddings_768/nature_remo.json_unseen_bert_embeddings.txt
bert_embeddings_768/planex_smacam_pantilt.json_seen_bert_embeddings.txt
bert_embeddings_768/planex_smacam_pantilt.json_unseen_bert_embeddings.txt
bert_embeddings_768/xiaomi_mijia_led.json_seen_bert_embeddings.txt
bert_embeddings_768/xiaomi_mijia_led.json_unseen_bert_embeddings.txt
fast_text_embeddings_768/irobot_roomba.json_seen_fast_text_embeddings.txt
fast_text_embeddings_768/irobot_roomba.json_unseen_fast_text_embeddings.txt
fast_text_embeddings_768/jvc_kenwood_hdtv_ip_camera.json_seen_fast_text_embeddings.txt
fast_text_embeddings_768/jvc_kenwood_hdtv_ip_camera.json_unseen_fast_text_embeddings.txt
fast_text_embeddings_768/nature_remo.json_seen_fast_text_embeddings.txt
fast_text_embeddings_768/nature_remo.json_unseen_fast_text_embeddings.txt
fast_text_embeddings_768/planex_smacam_pantilt.json_seen_fast_text_embeddings.txt
fast_text_embeddings_768/planex_smacam_pantilt.json_unseen_fast_text_embeddings.txt
fast_text_embeddings_768/xiaomi_mijia_led.json_seen_fast_text_embeddings.txt
fast_text_embeddings_768/xiaomi_mijia_led.json_unseen_fast_text_embeddings.txt
