
/__pycache__
/bert_embeddings
/fast_text_embeddings
nature_remo.json_xiaomi_mijia_led.json_irobot_roomba.json_planex_smacam_pantilt.json_jvc_kenwood_hdtv_ip_camera.json_fasttext_model
nature_remo.json_xiaomi_mijia_led.json_irobot_roomba.json_planex_smacam_pantilt.json_jvc_kenwood_hdtv_ip_camera.json_fasttext_model.wv.vectors_ngrams.npy
bert_embeddings_768/irobot_roomba.json_seen_bert_embeddings.txt
bert_embeddings_768/irobot_roomba.json_unseen_bert_embeddings.txt
bert_embeddings_768/jvc_kenwood_hdtv_ip_camera.json_seen_bert_embeddings.txt
bert_embeddings_768/jvc_kenwood_hdtv_ip_camera.json_unseen_bert_embeddings.txt
bert_embeddings_768/nature_remo.json_seen_bert_embeddings.txt
bert_embeddings_768/nature_remo.json_unseen_bert_embeddings.txt
bert_embeddings_768/planex_smacam_pantilt.json_seen_bert_embeddings.txt
bert_embeddings_768/planex_smacam_pantilt.json_unseen_bert_embeddings.txt
bert_embeddings_768/xiaomi_mijia_led.json_seen_bert_embeddings.txt
bert_embeddings_768/xiaomi_mijia_led.json_unseen_bert_embeddings.txt
fast_text_embeddings_768/irobot_roomba.json_seen_fast_text_embeddings.txt
fast_text_embeddings_768/irobot_roomba.json_unseen_fast_text_embeddings.txt
fast_text_embeddings_768/jvc_kenwood_hdtv_ip_camera.json_seen_fast_text_embeddings.txt
fast_text_embeddings_768/jvc_kenwood_hdtv_ip_camera.json_unseen_fast_text_embeddings.txt
fast_text_embeddings_768/nature_remo.json_seen_fast_text_embeddings.txt
fast_text_embeddings_768/nature_remo.json_unseen_fast_text_embeddings.txt
fast_text_embeddings_768/planex_smacam_pantilt.json_seen_fast_text_embeddings.txt
fast_text_embeddings_768/planex_smacam_pantilt.json_unseen_fast_text_embeddings.txt
fast_text_embeddings_768/xiaomi_mijia_led.json_seen_fast_text_embeddings.txt
fast_text_embeddings_768/xiaomi_mijia_led.json_unseen_fast_text_embeddings.txt
nature_remo_xiaomi_mijia_led_irobot_roomba_planex_smacam_pantilt_jvc_kenwood_hdtv_ip_camera_fasttext_model_768
nature_remo_xiaomi_mijia_led_irobot_roomba_planex_smacam_pantilt_jvc_kenwood_hdtv_ip_camera_fasttext_model_768.wv.vectors_ngrams.npy
tempCodeRunnerFile.py
/models
tempCodeRunnerFile.py
/bert_embeddings_128
/fast_text_embeddings_128
nature_remo_xiaomi_mijia_led_fasttext_model_128.wv.vectors_ngrams.npy
nature_remo_xiaomi_mijia_led_fasttext_model_128
/plots
/rfmodels
/0-5
/preprocessed_data
plots[old]/bert_embeddings_128_confusion_matrix_128.pdf
plots[old]/bert_embeddings_128_confusion_matrix_128.png
plots[old]/bert_embeddings_128_confusion_matrix_128.svg
plots[old]/bert_embeddings_256_confusion_matrix_256.pdf
plots[old]/bert_embeddings_256_confusion_matrix_256.png
plots[old]/bert_embeddings_256_confusion_matrix_256.svg
plots[old]/bert_embeddings_512_confusion_matrix_512.pdf
plots[old]/bert_embeddings_512_confusion_matrix_512.png
plots[old]/bert_embeddings_512_confusion_matrix_512.svg
plots[old]/bert_embeddings_768_confusion_matrix_768.pdf
plots[old]/bert_embeddings_768_confusion_matrix_768.png
plots[old]/bert_embeddings_768_confusion_matrix_768.svg
plots[old]/classifier_accuracy.pdf
plots[old]/classifier_accuracy.png
plots[old]/classifier_accuracy.svg
plots[old]/embeddings_classifier_memory_plot.pdf
plots[old]/embeddings_classifier_memory_plot.png
plots[old]/embeddings_classifier_memory_plot.svg
plots[old]/embeddings_classifier_time_plot.pdf
plots[old]/embeddings_classifier_time_plot.png
plots[old]/embeddings_classifier_time_plot.svg
plots[old]/embeddings_creation_memory_plot.pdf
plots[old]/embeddings_creation_memory_plot.png
plots[old]/embeddings_creation_memory_plot.svg
plots[old]/embeddings_creation_time_plot.pdf
plots[old]/embeddings_creation_time_plot.png
plots[old]/embeddings_creation_time_plot.svg
plots[old]/fast_text_embeddings_128_confusion_matrix_128.pdf
plots[old]/fast_text_embeddings_128_confusion_matrix_128.png
plots[old]/fast_text_embeddings_128_confusion_matrix_128.svg
plots[old]/fast_text_embeddings_256_confusion_matrix_256.pdf
plots[old]/fast_text_embeddings_256_confusion_matrix_256.png
plots[old]/fast_text_embeddings_256_confusion_matrix_256.svg
plots[old]/fast_text_embeddings_512_confusion_matrix_512.pdf
plots[old]/fast_text_embeddings_512_confusion_matrix_512.png
plots[old]/fast_text_embeddings_512_confusion_matrix_512.svg
plots[old]/fast_text_embeddings_768_confusion_matrix_768.pdf
plots[old]/fast_text_embeddings_768_confusion_matrix_768.png
plots[old]/fast_text_embeddings_768_confusion_matrix_768.svg
output2.txt
0-1/128/BERT/Ungrouped/model.pth
0-1/128/BERT/Ungrouped/bert_embeddings/nature_remo.json_seen_bert_embeddings.txt
0-1/128/BERT/Ungrouped/bert_embeddings/nature_remo.json_unseen_bert_embeddings.txt
0-1/128/FastText/Ungrouped/model.model
0-1/128/FastText/Ungrouped/model.model.wv.vectors_ngrams.npy
0-1/128/FastText/Ungrouped/fast_text_embeddings/nature_remo.json_seen_fast_text_embeddings.txt
0-1/128/FastText/Ungrouped/fast_text_embeddings/nature_remo.json_unseen_fast_text_embeddings.txt
0-1/256/BERT/Ungrouped/model.pth
0-1/256/BERT/Ungrouped/bert_embeddings/nature_remo.json_seen_bert_embeddings.txt
0-1/256/BERT/Ungrouped/bert_embeddings/nature_remo.json_unseen_bert_embeddings.txt
0-1/256/FastText/Ungrouped/model.model
0-1/256/FastText/Ungrouped/model.model.wv.vectors_ngrams.npy
0-1/256/FastText/Ungrouped/fast_text_embeddings/nature_remo.json_seen_fast_text_embeddings.txt
0-1/256/FastText/Ungrouped/fast_text_embeddings/nature_remo.json_unseen_fast_text_embeddings.txt
plots[old]/bert_embeddings_128_confusion_matrix_128.pdf
plots[old]/bert_embeddings_128_confusion_matrix_128.png
plots[old]/bert_embeddings_128_confusion_matrix_128.svg
plots[old]/bert_embeddings_256_confusion_matrix_256.pdf
plots[old]/bert_embeddings_256_confusion_matrix_256.png
plots[old]/bert_embeddings_256_confusion_matrix_256.svg
plots[old]/bert_embeddings_512_confusion_matrix_512.pdf
plots[old]/bert_embeddings_512_confusion_matrix_512.png
plots[old]/bert_embeddings_512_confusion_matrix_512.svg
plots[old]/bert_embeddings_768_confusion_matrix_768.pdf
plots[old]/bert_embeddings_768_confusion_matrix_768.png
plots[old]/bert_embeddings_768_confusion_matrix_768.svg
plots[old]/classifier_accuracy.pdf
plots[old]/classifier_accuracy.png
plots[old]/classifier_accuracy.svg
plots[old]/embeddings_classifier_memory_plot.pdf
plots[old]/embeddings_classifier_memory_plot.png
plots[old]/embeddings_classifier_memory_plot.svg
plots[old]/embeddings_classifier_time_plot.pdf
plots[old]/embeddings_classifier_time_plot.png
plots[old]/embeddings_classifier_time_plot.svg
plots[old]/embeddings_creation_memory_plot.pdf
plots[old]/embeddings_creation_memory_plot.png
plots[old]/embeddings_creation_memory_plot.svg
plots[old]/embeddings_creation_time_plot.pdf
plots[old]/embeddings_creation_time_plot.png
plots[old]/embeddings_creation_time_plot.svg
plots[old]/fast_text_embeddings_128_confusion_matrix_128.pdf
plots[old]/fast_text_embeddings_128_confusion_matrix_128.png
plots[old]/fast_text_embeddings_128_confusion_matrix_128.svg
plots[old]/fast_text_embeddings_256_confusion_matrix_256.pdf
plots[old]/fast_text_embeddings_256_confusion_matrix_256.png
plots[old]/fast_text_embeddings_256_confusion_matrix_256.svg
plots[old]/fast_text_embeddings_512_confusion_matrix_512.pdf
plots[old]/fast_text_embeddings_512_confusion_matrix_512.png
plots[old]/fast_text_embeddings_512_confusion_matrix_512.svg
plots[old]/fast_text_embeddings_768_confusion_matrix_768.pdf
plots[old]/fast_text_embeddings_768_confusion_matrix_768.png
plots[old]/fast_text_embeddings_768_confusion_matrix_768.svg
plots[old]/bert_embeddings_128_confusion_matrix_128.pdf
plots[old]/bert_embeddings_128_confusion_matrix_128.png
plots[old]/bert_embeddings_128_confusion_matrix_128.svg
plots[old]/bert_embeddings_256_confusion_matrix_256.pdf
plots[old]/bert_embeddings_256_confusion_matrix_256.png
plots[old]/bert_embeddings_256_confusion_matrix_256.svg
plots[old]/bert_embeddings_512_confusion_matrix_512.pdf
plots[old]/bert_embeddings_512_confusion_matrix_512.png
plots[old]/bert_embeddings_512_confusion_matrix_512.svg
plots[old]/bert_embeddings_768_confusion_matrix_768.pdf
plots[old]/bert_embeddings_768_confusion_matrix_768.png
plots[old]/bert_embeddings_768_confusion_matrix_768.svg
plots[old]/classifier_accuracy.pdf
plots[old]/classifier_accuracy.png
plots[old]/classifier_accuracy.svg
plots[old]/embeddings_classifier_memory_plot.pdf
plots[old]/embeddings_classifier_memory_plot.png
plots[old]/embeddings_classifier_memory_plot.svg
plots[old]/embeddings_classifier_time_plot.pdf
plots[old]/embeddings_classifier_time_plot.png
plots[old]/embeddings_classifier_time_plot.svg
plots[old]/embeddings_creation_memory_plot.pdf
plots[old]/embeddings_creation_memory_plot.png
plots[old]/embeddings_creation_memory_plot.svg
plots[old]/embeddings_creation_time_plot.pdf
plots[old]/embeddings_creation_time_plot.png
plots[old]/embeddings_creation_time_plot.svg
plots[old]/fast_text_embeddings_128_confusion_matrix_128.pdf
plots[old]/fast_text_embeddings_128_confusion_matrix_128.png
plots[old]/fast_text_embeddings_128_confusion_matrix_128.svg
plots[old]/fast_text_embeddings_256_confusion_matrix_256.pdf
plots[old]/fast_text_embeddings_256_confusion_matrix_256.png
plots[old]/fast_text_embeddings_256_confusion_matrix_256.svg
plots[old]/fast_text_embeddings_512_confusion_matrix_512.pdf
plots[old]/fast_text_embeddings_512_confusion_matrix_512.png
plots[old]/fast_text_embeddings_512_confusion_matrix_512.svg
plots[old]/fast_text_embeddings_768_confusion_matrix_768.pdf
plots[old]/fast_text_embeddings_768_confusion_matrix_768.png
plots[old]/fast_text_embeddings_768_confusion_matrix_768.svg
plots[old]/bert_embeddings_128_confusion_matrix_128.pdf
plots[old]/bert_embeddings_128_confusion_matrix_128.png
plots[old]/bert_embeddings_128_confusion_matrix_128.svg
plots[old]/bert_embeddings_256_confusion_matrix_256.pdf
plots[old]/bert_embeddings_256_confusion_matrix_256.png
plots[old]/bert_embeddings_256_confusion_matrix_256.svg
plots[old]/bert_embeddings_512_confusion_matrix_512.pdf
plots[old]/bert_embeddings_512_confusion_matrix_512.png
plots[old]/bert_embeddings_512_confusion_matrix_512.svg
plots[old]/bert_embeddings_768_confusion_matrix_768.pdf
plots[old]/bert_embeddings_768_confusion_matrix_768.png
plots[old]/bert_embeddings_768_confusion_matrix_768.svg
plots[old]/classifier_accuracy.pdf
plots[old]/classifier_accuracy.png
plots[old]/classifier_accuracy.svg
plots[old]/embeddings_classifier_memory_plot.pdf
plots[old]/embeddings_classifier_memory_plot.png
plots[old]/embeddings_classifier_memory_plot.svg
plots[old]/embeddings_classifier_time_plot.pdf
plots[old]/embeddings_classifier_time_plot.png
plots[old]/embeddings_classifier_time_plot.svg
plots[old]/embeddings_creation_memory_plot.pdf
plots[old]/embeddings_creation_memory_plot.png
plots[old]/embeddings_creation_memory_plot.svg
plots[old]/embeddings_creation_time_plot.pdf
plots[old]/embeddings_creation_time_plot.png
plots[old]/embeddings_creation_time_plot.svg
plots[old]/fast_text_embeddings_128_confusion_matrix_128.pdf
plots[old]/fast_text_embeddings_128_confusion_matrix_128.png
plots[old]/fast_text_embeddings_128_confusion_matrix_128.svg
plots[old]/fast_text_embeddings_256_confusion_matrix_256.pdf
plots[old]/fast_text_embeddings_256_confusion_matrix_256.png
plots[old]/fast_text_embeddings_256_confusion_matrix_256.svg
plots[old]/fast_text_embeddings_512_confusion_matrix_512.pdf
plots[old]/fast_text_embeddings_512_confusion_matrix_512.png
plots[old]/fast_text_embeddings_512_confusion_matrix_512.svg
plots[old]/fast_text_embeddings_768_confusion_matrix_768.pdf
plots[old]/fast_text_embeddings_768_confusion_matrix_768.png
plots[old]/fast_text_embeddings_768_confusion_matrix_768.svg
plots[old]/bert_embeddings_128_confusion_matrix_128.pdf
plots[old]/bert_embeddings_128_confusion_matrix_128.png
plots[old]/bert_embeddings_128_confusion_matrix_128.svg
plots[old]/bert_embeddings_256_confusion_matrix_256.pdf
plots[old]/bert_embeddings_256_confusion_matrix_256.png
plots[old]/bert_embeddings_256_confusion_matrix_256.svg
plots[old]/bert_embeddings_512_confusion_matrix_512.pdf
plots[old]/bert_embeddings_512_confusion_matrix_512.png
plots[old]/bert_embeddings_512_confusion_matrix_512.svg
plots[old]/bert_embeddings_768_confusion_matrix_768.pdf
plots[old]/bert_embeddings_768_confusion_matrix_768.png
plots[old]/bert_embeddings_768_confusion_matrix_768.svg
plots[old]/classifier_accuracy.pdf
plots[old]/classifier_accuracy.png
plots[old]/classifier_accuracy.svg
plots[old]/embeddings_classifier_memory_plot.pdf
plots[old]/embeddings_classifier_memory_plot.png
plots[old]/embeddings_classifier_memory_plot.svg
plots[old]/embeddings_classifier_time_plot.pdf
plots[old]/embeddings_classifier_time_plot.png
plots[old]/embeddings_classifier_time_plot.svg
plots[old]/embeddings_creation_memory_plot.pdf
plots[old]/embeddings_creation_memory_plot.png
plots[old]/embeddings_creation_memory_plot.svg
plots[old]/embeddings_creation_time_plot.pdf
plots[old]/embeddings_creation_time_plot.png
plots[old]/embeddings_creation_time_plot.svg
plots[old]/fast_text_embeddings_128_confusion_matrix_128.pdf
plots[old]/fast_text_embeddings_128_confusion_matrix_128.png
plots[old]/fast_text_embeddings_128_confusion_matrix_128.svg
plots[old]/fast_text_embeddings_256_confusion_matrix_256.pdf
plots[old]/fast_text_embeddings_256_confusion_matrix_256.png
plots[old]/fast_text_embeddings_256_confusion_matrix_256.svg
plots[old]/fast_text_embeddings_512_confusion_matrix_512.pdf
plots[old]/fast_text_embeddings_512_confusion_matrix_512.png
plots[old]/fast_text_embeddings_512_confusion_matrix_512.svg
plots[old]/fast_text_embeddings_768_confusion_matrix_768.pdf
plots[old]/fast_text_embeddings_768_confusion_matrix_768.png
plots[old]/fast_text_embeddings_768_confusion_matrix_768.svg
